{% extends 'back/master.html' %}
{% load static %}


{% block mainblock %}
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Blacklist<br><small>u can delete or add new ip in list in this
                    Blacklist</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Blacklist</li>
        <li><a href="#">Lists</a></li>
    </ul>
    <!-- END Datatables Header -->


    <div class="row">
        <div class="col-md-12">
            <!-- Input Grid Block -->
            <div class="block">
                <!-- Input Grid Title -->
                <div class="block-title">
                    <h2>Add User Ip <h2>
                </div>
                <!-- END Input Grid Title -->

                <!-- Input Grid Content -->
                <form action="{%url 'ip_add' %}" method="post" class="form-horizontal form-bordered"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text" id='ip' name='ip' class="form-control"
                                placeholder="ip">
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                                Submit</button>
                        </div>
                    </div>
                </form>
                <!-- END Input Grid Content -->
            </div>
            <!-- END Input Grid Block -->
        </div>
    </div>

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Ip</strong> List</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Ip</th>


                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in iplist %}
                    <tr>
                        <td>{{c}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{%url 'ip_del' pk=c.pk %}" data-toggle="tooltip" title="Delete"
                                    class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>
<!-- END Page Content -->

{% endblock %}

{% block footerblock %}
<script src="{%static 'back/js/pages/tablesDatatables.js'%}"></script>
<script>$(function () { TablesDatatables.init(); });</script>
{% endblock %}