{% extends 'back/master.html' %}
{% load static %}
{% load mathfilters %}
{% block mainblock %}
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>NewsList<br><small>u can edit ,delete or add new news in this
                    newslist</small>
            </h1>
        </div>
    </div>
   
</div>
    <ul class="breadcrumb breadcrumb-top">
        <li>News</li>
        <li><a href="/panel/news/list">Lists</a></li>
    </ul>

    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>News</strong> List</h2>
            {% if perms.main.master_user %}
            <a href="/update/news/list/" data-toggle="tooltip" style="margin-left:80% ;" title="UpdateList from server"
            class="btn btn-xs btn-success">Update</a>
            {% endif %}
        </div>
        <div class="table-responsive">
            <table id="" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center"><i class="gi gi-user"></i></th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Writer</th>
                        <th>Status</th>
                        <th>Publisher Name</th>
                        <th>views</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in news %}
                    <tr>
                        <td class="text-center">{{c.pk}}</td>
                        <td class="text-center"><img style="display: inline-block; width: 50px; height: 50px;"
                                src="{{c.newsImageUrl}}" alt="avatar" class="img-circle"></td>
                        <td style=" text-align: justify;">{{c.title|safe}}</td>
                        <td>{{c.publishDate}}</td>
                        <td>{{c.time}}</td>
                        <td>{{c.writerName}}</td>
                        {% if c.act == 0%}
                        <td class="text-warning">pending</td>
                        {% elif c.act == 1 %}
                        <td class="text-success"> Published</td>
                        {% endif %}
                        <td>{{c.publisherName}}</td>
                        <td>{{c.views}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{%url 'news_edit' pk=c.pk %}" data-toggle="tooltip" title="Edit"
                                    class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>Edit</a>
                                {% if perms.main.master_user %}
                                <a href="{%url 'news_publish' pk=c.pk %}" data-toggle="tooltip" title="Publish"
                                    class="btn btn-xs btn-success"><i class="fa fa-pencil"></i>Publish</a>
                                {% endif %}
                                <a href="{%url 'news_delete' pk=c.pk %}" data-toggle="tooltip" title="Delete"
                                    class="btn btn-xs btn-danger"><i class="fa fa-times"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <ul class="pager">
        <!-- <p style="display: inline-block;text-align: center;">Page {{news.number}}  {{news.paginator.num_pages}}</p> -->
        {% if news.has_previous %}
        <li class="previous"><a style="color: black;" href="?page={{news.previous_page_number}}">Previous</a></li>
        {% endif %}
        


        {% if news.has_previous %}
        <li class=" page-item"><a style="color: black;" class="page-link" href="?page={{news.number|sub:1}}">{{news.number|sub:1}}</a></li>
        {% endif %}

        <li class="page-item"><a style="background-color:cadetblue; color: black;" class="page-link" href="#">{{news.number}} </a></li>

        {% if news.has_next %}
        <li class=" page-item"><a style="color: black;" class="page-link" href="?page={{news.number|add:1}}">{{news.number|add:1}}</a></li>
        {% endif %}

        
        {% if news.has_next %}
        <li class="next"><a style="color: black;" href="?page={{news.next_page_number}}">Next</a></li>
        {% endif %}
    </ul>

    <!-- END Datatables Content -->
</div>
<!-- END Page Content -->

{% endblock %}

{% block footerblock %}
<script src="{%static 'back/js/pages/tablesDatatables.js'%}"></script>
<script>$(function () { TablesDatatables.init(); });</script>
{% endblock %}