{% extends 'back/master.html' %}
{% load static %}

{% block headerblock %}
<script src="{%static 'ckeditor/ckeditor.js' %}"></script>
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script> -->
{% endblock %}

{% block mainblock %}
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Site Setting<br><small>You can add new SiteSetting
                </small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>SiteSetting</li>
        <li><a href="/panel/setting">Site Setting</a></li>
    </ul>
    <!-- END Datatables Header -->
</div>
<!-- END Page Content -->
<div class="row">
    <div class="col-md-12">
        <!-- Input Grid Block -->
        <div class="block">
            <!-- Input Grid Title -->
            <div class="block-title">
                <h2>Site Setting<h2>
            </div>
            <!-- END Input Grid Title -->

            <!-- Input Grid Content -->
            <form action="{%url 'site_setting' %}" method="post" class="form-horizontal form-bordered"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="titlename" name='titlename' value="{{site.titleName}}" class="form-control"
                            placeholder="Title Name">

                    </div>
                    <div class="col-md-6">
                        <input type="text" id="mylink" name='mylink' class="form-control" value="{{site.mylink}}" placeholder="mylink">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="fb" name='fb' class="form-control" value="{{site.fb}}" placeholder="FB">

                    </div>
                    <div class="col-md-6">
                        <input type="text" id="yt" name='yt' class="form-control" value="{{site.yt}}" placeholder="YT">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="tw" name='tw' class="form-control" value="{{site.tw}}" placeholder="TW">

                    </div>
                    <div class="col-md-6">
                        <input type="text" id="lk" name='lk' class="form-control" value="{{site.lk}}" placeholder="LK">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" id="vm" name='vm' class="form-control" value="{{site.vm}}" placeholder="VM">

                    </div>
                    <div class="col-md-6">
                        <input type="text" id="tel" name='tel' class="form-control" value="{{site.tel}}" placeholder="TELPHONE NO">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <textarea type="text" id="about" name='about' rows='5' class="form-control"
                            placeholder="ShortNews">{{site.about}}</textarea>
                    </div>
                </div>

                <script>ClassicEditor.create(document.getElementById("shortTxt"))</script>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" id='myfile' name='myfile' class="form-control" placeholder="MainLogoImage">
                    </div>
                    <div class="col-md-6" style="display:table-cell; ">
                        <img src="{{site.imageUrl}}" style="display: inline-block; width: 150px; height: 160px;" alt="image is not available">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" id='myfile1' name='myfile1' class="form-control" placeholder="LogoImage">
                    </div>
                    <div class="col-md-6" style="display:table-cell; ">
                        <img src="{{site.imageUrl1}}" style="display: inline-block; width: 150px; height: 160px;" alt="image is not available">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                            Submit</button>
                    </div>
                </div>
            </form>
            <!-- END Input Grid Content -->
        </div>
        <!-- END Input Grid Block -->
    </div>
</div>
{% endblock %}

{% block footerblock %}
<script src="{%static 'back/js/pages/tablesDatatables.js'%}"></script>
<script>$(function () { TablesDatatables.init(); });</script>
{% endblock %}