{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% block headblock %}
	{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{%static 'front/images/icons/favicon.png'%}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/bootstrap/css/bootstrap.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{%static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{%static 'front/fonts/iconic/css/material-design-iconic-font.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/animate/animate.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/css-hamburgers/hamburgers.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/vendor/animsition/css/animsition.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/util.min.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/main.css'%}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/myfile.css'%}">


	<!-- Stylesheets -->


	<!-- Related styles of various icon packs and plugins -->
	<link rel="stylesheet" href="{%static 'back/css/plugins.css'%}">
	<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
	<link rel="stylesheet" href="{%static 'back/css/themes.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'front/css/myfile.css'%}">
	<!-- END Stylesheets -->


</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="topbar">
				<div class="content-topbar h-100 p-rl-30">
					<div class="align-self-stretch size-w-0 pos-relative m-r-30">
						<div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<a href="/">
								<img class="max-s-full"
									style="display: inline-block;width: 30px; height: 30px; margin-right: 25px;"
									src="{{site.imageUrl}}" alt="LOGO">
							</a>
							<span class="text-uppercase c10 p-r-8">
								Trending Now:
							</span>

							<span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown"
								data-out="fadeOutDown">
								{% for t in trending %}
								<span class="dis-inline-block slide100-txt-item animated visible-false"
									style="text-align: justify;">
									{{t.title}}
								</span>
								{% endfor %}
							</span>
						</div>
					</div>


					<div class="flex-wr-e-c">
						<div class="left-topbar">

							<a href="/about" class="left-topbar-item">
								About
							</a>

							<a href="/privacy/policy" class="left-topbar-item">
								Privacy Policy
							</a>

							<a href="/contact" class="left-topbar-item">
								Contact
							</a>
							{% if user.is_authenticated %}
							<a href="/logout" class="left-topbar-item">
								Logout
							</a>
							<a href="/panel" class="left-topbar-item">
								Admin Panel
							</a>
							{% else %}
							<a href="/login" class="left-topbar-item">
								Log in | Sing up
							</a>
							{% endif %}


							<a href="#" class="left-topbar-item"></a>
						</div>

						<div class="right-topbar p-l-18">
							<a href="{{site.fb}}">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="{{site.tw}}">
								<span class="fab fa-twitter"></span>
							</a>

							<a href="{{site.lk}}">
								<span class="fab fa-pinterest-p"></span>
							</a>

							<a href="{{site.vm}}">
								<span class="fab fa-vimeo-v"></span>
							</a>

							<a href="{{site.yt}}">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- start message tag -->
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
					{% endfor %}
			</ul>
			{% endif %}
			<!-- end message appear -->


			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<a href="/"><img style="display: inline-block;width:140px; height: 150px; align-self: center;"
							src="{{site.imageUrl1}}" alt="IMG-LOGO"></a>
					<a href="/panel/news/add" class="widget widget-hover-effect1">
						<div class="widget-simple">
							<h3 class="widget-content text-right animation-pullDown">
								Publish <strong>Article</strong><br>
							</h3>
						</div>
					</a>
				</div>

				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>

			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="topbar-mobile">
					<div class="left-topbar">

						<a href="/about" class="left-topbar-item">
							About
						</a>

						<a href="/privacy/policy" class="left-topbar-item">
							Privacy Policy
						</a>

						<a href="/contact" class="left-topbar-item">
							Contact
						</a>
						{% if user.is_authenticated %}
						<a href="/logout" class="left-topbar-item">
							Logout
						</a>
						<a href="/panel" class="left-topbar-item">
							Admin Panel
						</a>
						{% else %}
						<a href="/login" class="left-topbar-item">
							Log in | Sing up
						</a>
						{% endif %}
					</div>

					<div class="right-topbar">
						<a href="{{site.fb}}">
							<span class="fab fa-facebook-f"></span>
						</a>

						<a href="{{site.tw}}">
							<span class="fab fa-twitter"></span>
						</a>

						<a href="{{site.lk}}">
							<span class="fab fa-pinterest-p"></span>
						</a>

						<a href="{{site.vm}}">
							<span class="fab fa-vimeo-v"></span>
						</a>

						<a href="{{site.yt}}">
							<span class="fab fa-youtube"></span>
						</a>
					</div>
				</ul>

				<ul class="main-menu-m">
					<li class="mega-menu-item">
						<a href="/all/news/">All News</a>
						<div class="sub-mega-menu">
							<div class="nav flex-column nav-pills" role="tablist">
								<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
								{% for sc in cat %}
								{% if sc.newsCount != 0 %}
								<a class="nav-link" data-toggle="pill" href="#news-{{sc.pk}}"
									role="tab">{{sc.catName}}</a>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</li>

					<li> <a href="/panel/news/add">Publish Article</a>
					</li>

					{% for ab in cat %}
					{% if ab.newsCount != 0 %}
					<li class="mega-menu-item">
						<a href="{%url 'news_all_show' word=ab.catName %}">{{ab.catName}}</a>


						<div class="sub-mega-menu">
							<div class="nav flex-column nav-pills" role="tablist">
								<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
								{% for sc in subcat %}
								{% if sc.catId == ab.pk %}
								<a class="nav-link" data-toggle="pill" href="#news-{{sc.pk}}"
									role="tab">{{sc.subcatName}}</a>

								{% endif %}
								{% endfor %}
							</div>
						</div>

					</li>
					{% endif %}
					{% endfor %}

				</ul>
			</div>

			<!--  -->
			<div class="wrap-logo no-banner container">
				<!-- Logo desktop -->
				<div class="logo">

					<a href="/"><img src="{{site.imageUrl1}}"
							style="display: inline-block;width:350px; height: 110px; align-self: center;"
							alt="LOGO"></a>
				</div>

				<a href="/panel/news/add" class="widget widget-hover-effect1">
					<div class="widget-simple">
						<div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
							<i class="fa fa-file-text"></i>
						</div>
						<h3 class="widget-content text-right animation-pullDown">
							Publish <strong>Article</strong><br>
							<small>About News</small>
						</h3>
					</div>
				</a>
			</div>

			<!--  -->
			<div class="wrap-main-nav">
				<div class="main-nav">
					<!-- Menu desktop -->
					<nav class="menu-desktop">
						<a class="logo-stick" href="/">
							<img src="{{site.imageUrl}}" alt="LOGO">
						</a>

						<ul class="main-menu justify-content-center">
							<li class="main-menu-active">
								<a href="/">Home</a>
							</li>



							<li class="mega-menu-item">
								<a href="/all/news/">All News</a>


								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
										{% for sc in cat %}
										{% if sc.newsCount != 0 %}
										<a class="nav-link" data-toggle="pill" href="#news-{{sc.pk}}"
											role="tab">{{sc.catName}}</a>
										{% endif %}
										{% endfor %}
									</div>

									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">
												{% for x in news %}
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{%url 'news_detail' word=x.title %}"
															class="wrap-pic-w hov1 trans-03">
															<img src="{{x.newsImageUrl}}"
																style="display: inline-block; width: 160px; height: 140px;"
																alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5" style="text-align: justify;">
																<a href="{%url 'news_detail' word=x.title %}"
																	class="f1-s-5 cl3 hov-cl10 trans-03"
																	style="display: inline-block;">
																	{{x.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{%url 'news_all_show' word=x.catName %}"
																	class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{x.catName}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{x.publishDate}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
										{% for sc in cat %}
										{% if sc.newsCount != 0 %}

										<div class="tab-pane" id="news-{{sc.pk}}" role="tabpanel">
											<div class="row">
												{% for catnews in news %}
												{% if catnews.ocatId == sc.pk %}
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{%url 'news_detail' word=catnews.title %}"
															class="wrap-pic-w hov1 trans-03">
															<img src="{{catnews.newsImageUrl}}"
																style="display: inline-block; width: 160px; height: 140px;"
																alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5" style="text-align: justify;">
																<a href="{%url 'news_detail' word=catnews.title %}"
																	class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{catnews.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{%url 'news_all_show' word=catnews.catName %}"
																	class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{catnews.catName}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{catnews.publishDate}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% endfor %}
											</div>
										</div>
										{% endif %}
										{% endfor %}

									</div>
								</div>
							</li>


							{% for ab in cat %}
							{% if ab.newsCount != 0 %}
							<li class="mega-menu-item">
								<a href="{%url 'news_all_show' word=ab.catName %}">{{ab.catName}}</a>


								<div class="sub-mega-menu">
									<div class="nav flex-column nav-pills" role="tablist">
										<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
										{% for sc in subcat %}
										{% if sc.catId == ab.pk %}
										<a class="nav-link" data-toggle="pill" href="#news-{{sc.pk}}"
											role="tab">{{sc.subcatName}}</a>

										{% endif %}
										{% endfor %}
									</div>

									<div class="tab-content">
										<div class="tab-pane show active" id="news-0" role="tabpanel">
											<div class="row">
												{% for x in news %}
												{% if x.ocatId == ab.pk %}
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{%url 'news_detail' word=x.title %}"
															class="wrap-pic-w hov1 trans-03">
															<img src="{{x.newsImageUrl}}"
																style="display: inline-block; width: 160px; height: 140px;"
																alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5" style="text-align: justify;">
																<a href="{%url 'news_detail' word=x.title %}"
																	class="f1-s-5 cl3 hov-cl10 trans-03"
																	style="display: inline-block;">
																	{{x.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{%url 'news_all_show' word=x.catName %}"
																	class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{x.catName}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{x.publishDate}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% endfor %}
											</div>
										</div>
										{% for sc in subcat %}
										{% if sc.catId == ab.pk %}
										<div class="tab-pane" id="news-{{sc.pk}}" role="tabpanel">
											<div class="row">
												{% for catnews in news %}
												{% if catnews.catId == sc.pk %}
												<div class="col-3">
													<!-- Item post -->
													<div>
														<a href="{%url 'news_detail' word=catnews.title %}"
															class="wrap-pic-w hov1 trans-03">
															<img src="{{catnews.newsImageUrl}}"
																style="display: inline-block; width: 160px; height: 140px;"
																alt="IMG">
														</a>

														<div class="p-t-10">
															<h5 class="p-b-5" style="text-align: justify;">
																<a href="{%url 'news_detail' word=catnews.title %}"
																	class="f1-s-5 cl3 hov-cl10 trans-03">
																	{{catnews.title}}
																</a>
															</h5>

															<span class="cl8">
																<a href="{%url 'news_all_show' word=catnews.catName %}"
																	class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{catnews.catName}}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{catnews.publishDate}}
																</span>
															</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% endfor %}
											</div>
										</div>
										{% endif %}
										{% endfor %}

									</div>
								</div>

							</li>
							{% endif %}
							{% endfor %}

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	{% block mainblock %}
	{% endblock %}

	<!-- Footer -->
	<footer>
		<div class="bg2 p-t-40 p-b-25">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<a href="/">
								<img class="max-s-full" style="display: inline-block;width: 70px; height: 70px;"
									src="{{site.imageUrl}}" alt="LOGO">
							</a>
						</div>

						<div>
							<p class="f1-s-1 cl11 p-b-16" style="text-align: justify;">
								{{site.about|safe}}
							</p>
							</br>
							<p class="f1-s-1 cl11 p-b-16">
								Any questions? Call us on {{site.tel}}
							</p>

							<div class="p-t-15">
								<a href="{{site.fb}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-facebook-f"></span>
								</a>

								<a href="{{site.tw}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-twitter"></span>
								</a>

								<a href="{{site.lk}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-pinterest-p"></span>
								</a>

								<a href="{{site.vm}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-vimeo-v"></span>
								</a>

								<a href="{{site.yt}}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
									<span class="fab fa-youtube"></span>
								</a>
							</div>
							<div class='newletter' style="padding-top: 20px; padding-left: 0px;">
								<form action="{%url 'news_letter' %}" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input class="bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20"
										type="text" name="emailOrphone" placeholder="Email or Phone No*">
									<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>
										Subscibe</button>

								</form>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Popular Posts
							</h5>
						</div>

						<ul>
							{% for pop in pop3news %}
							{% if pop.views != 0 %}
							<li class="flex-wr-sb-s p-b-20">
								<a href="{%url 'news_detail' word=pop.title %}"
									class="size-w-4 wrap-pic-w hov1 trans-03">
									<img src="{{pop.newsImageUrl}}" alt="IMG">
								</a>

								<div class="size-w-5">
									<h6 class="p-b-5" style="text-align: justify;">
										<a href="{%url 'news_detail' word=pop.title %}"
											class="f1-s-5 cl11 hov-cl10 trans-03">
											{{pop.title}}
										</a>
									</h6>

									<span class="f1-s-3 cl6">
										{{pop.publishDate}}
									</span>
								</div>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>

					<div class="col-sm-6 col-lg-4 p-b-20">
						<div class="size-h-3 flex-s-c">
							<h5 class="f1-m-7 cl0">
								Category
							</h5>
						</div>

						<ul class="m-t--12">
							{% for c in cat %}
							{% if c.newsCount != 0 %}

							<li class="how-bor1 p-rl-5 p-tb-10">
								<a href="{%url 'news_all_show' word=c.catName %}"
									class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
									{{c.catName}} ({{c.newsCount}})
								</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="bg11">
			<div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2018

					<a href="/term/condition" class="f1-s-1 cl10 hov-link1">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>Term and condition<i
							class="fa fa-heart" aria-hidden="true"></i> by <a href="{{site.mylink}}"
							target="_blank">puneetGupta</a>
				</span>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>

	{% block footerscript %}
	{% endblock %}




	<script src="{%static 'back/js/pages/index.js'%}"></script>
	<script>$(function () { Index.init(); });</script>
	<!--===============================================================================================-->
	<script src="{%static 'front/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
	<!--===============================================================================================-->
	<script src="{%static 'front/vendor/animsition/js/animsition.min.js'%}"></script>
	<!--===============================================================================================-->
	<script src="{%static 'front/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{%static 'front/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
	<!--===============================================================================================-->
	<script src="{%static 'front/js/main.js'%}"></script>

</body>

</html>