{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head> 
  <title>Error</title> 
  <!-- Meta tag Keywords --> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <script>
    function goback(){
      window.history.back()
    }
  </script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script> 
  <!-- Meta tag Keywords --> 
  <!-- css files --> 
  <link href="{%static '404/css/style.css' %}" rel="stylesheet" type="text/css" media="all" /> 
  <!-- //css files --> 
  <!-- online-fonts --> 
  <link href="//fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet" /> 
  <!--//online-fonts --> 
 </head> 
 <body> 
  <div class="header"> 
   <h1>Smart error page</h1> 
  </div> 
  <div class="w3-main"> 
   <div class="agile-info"> 
    <h3>SORRY</h3> 
    <h2>4<img src="{%static '404/images/confused.gif' %}" alt="image" />4</h2> 
    <p>An error Occurred in the Application And Your Page could not be Served.</p> 
    <a onclick="goback()">go back</a> 
   </div> 
  </div> 
  <div class="footer-w3l"> 
   <p>&copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script>  by <a href="/">Sry!!</a></p> 
  </div>  
 </body>
</html>